{% extends 'base.html' %} {% block content %}
<!-- Jumbotron with lead text -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1573832035811-8cd5da029884?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1543349823-729e19b44e31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1573817287997-59e90a7b2cb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    <!-- end col -->
    <h1 class ="home-header"><strong>The Fossils Shop</strong></h1>
    <h2>Treasures from all over the world.</h2>
  </div>
  <!-- end row-->
  <!-- start container -->
  <div class="container">
    <div class="row">
      <div class="col col-sm-4">
        <div class="card " style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1511370727486-ef2f0c456710?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top"  alt="...">
          <div class="card-body">
            <p class="card-text">Ammonite</p>
          </div>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="card" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1456409203138-4bec77b9a897?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="cardtext">Trilobites</p>
          </div>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="card" style="width: 10rem;">
          <img src="https://images.unsplash.com/photo-1570482606740-a0b0baa0e58d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="cardtext">Other</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end of row -->
  </div>
  <!-- end container -->
  {% endblock %}
