{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col col-sm-4">
            <div class="card" style="width: 10rem;">
                <img src="{{MEDIA_URL}}{{product.image}}" class="card-img-top" alt="{{product.name}}">
                <div class="card-body">
                    <h3>{{product.name}}</h3>
                    <p>€{{product.price}}</p>
                </div>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
